<h1 class="text-3xl">Precio del servicio</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eligendi
    architecto ducimus hic optio! Labore nesciunt suscipit doloremque non.
    Tempora nostrum cum quasi error natus reprehenderit libero quia non! Optio.
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eligendi
    architecto ducimus hic optio! Labore nesciunt suscipit doloremque non.
    Tempora nostrum cum quasi error natus reprehenderit libero quia non! Optio.
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eligendi
    architecto ducimus hic optio! Labore nesciunt suscipit doloremque non.
    Tempora nostrum cum quasi error natus reprehenderit libero quia non! Optio.
  </p>
</section>
